
nav.navbar{

	box-sizing: content-box;
	color: white;
	border-top: 5px red;
	padding: 15px;
	background-color: #1960a8;
}




.nav a{
	text-transform: uppercase;
	color: white;  
}

.navbar>.container-fluid .navbar-brand {
	width:50px;
	margin-left: 0.5em: 

}

.jumbotron{
	background-color: #1960a8;
	color: white;
}


.columna {
	width: 30vw;
	background-color: gold;

}


.title1
