
nav.navbar{

	box-sizing: content-box;
	color: white;
	padding: 15px;
	background-color: #1960a8;
}

https://getbootstrap.com/docs/3.3/css/#grid-example-basic ----recuerdaaaloo


.nav a{
	text-transform: uppercase;
	font-color: white;  
}

.navbar>.container-fluid .navbar-brand {
	width:50px;
	margin-left: 0.5em: 

}

.jumbotron{
	background-color: #1960a8;
	color: white;
}


.subraya{

	border-top: 15px solid #1960a8

}

https://getbootstrap.com/docs/3.3/css/#grid-example-basic ----recuerdaaaloo


.columna {
	width: 30vw;
	background-color: gold;

}


.titleJumbo{
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
}






